#Default listen host is localhost only, uncomment below to change
#listen.host=0.0.0.0
#Default listen port is 62222, uncomment below to change
#listen.port=8080

# SNMP hosts begin with snmp.target. folowed by the hostname/IP, value being protocol/port/SNMPversion/CommunityString
snmp.target.crazyserver.example.com=udp/161/2c/public
snmp.target.10.0.3.7=udp/161/1/TopSecret